@import 'vars';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font: 14px/24px "Open Sans", Arial, sans-serif;
  background-color: #efefef;
}
#jumbotron {
  width: 100%;
  height: 300px;
  background-image: url(../img/jumbotron-bg.jpg);
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  flex-direction: column;
  align-items: center;
  display: flex;
  .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 62px;
    list-style-type: none;
    li {
      a {
        display: block;
        line-height: 60px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        margin-right: 50px;
        transition: color .1s ease-in-out;
        text-shadow: 0 2px rgba(0,0,0,.5);
        &:hover {
          color: #efefef;
        }
      }
      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }
  }
  .logo {
    height: 200px;
    width: 800px;
    transition: opacity .25s ease-in-out;
    &:hover {
      opacity: .75;
    }
    img {
      min-height: 100%;
      max-width: 100%;
      min-width: 100%;
    }
  }
}
.header-menu-goods {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  list-style-type: none;
  background-image: url(../img/jumbotron-bg.jpg);
  background-size: 100%;
  background-position: 100% 87%;
  background-repeat: no-repeat;
  position: relative;
  .header-menu-goods-logo {
    position: absolute;
    left: 20%;
  }
  li {
    a {
      display: block;
      line-height: 60px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      margin-right: 50px;
      transition: color .1s ease-in-out;
      &:hover {
        color: #efefef;
      }
    }
    &:last-child {
      a {
        margin-right: 0;
      }
    }
  }
}
#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .landing {
    padding: 3vh 3vh 0 3vh;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    background-image: url("../img/panorama.jpg");
    background-size: cover;
    .column-1 {
      padding-bottom: 3vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      p {
        text-align: right;
        font-size: 1.5rem;
        line-height: 36px;
        margin-bottom: 25px;
        text-shadow: 2px 2px 2px rgba(0,0,0,.3);
        color: #fff;
        & > small {
          font-size: 1rem;
        }
      }
      small {
        text-align: right;
        font-style: italic;
        font-weight: 100;
        color: #fff;
        opacity: .7;
      }
      .price-button-block {
        padding: 5px;
        border-radius: 2px;
        background: #bc4e9c; /* Old browsers */
        background: -moz-linear-gradient(left, #bc4e9c 0%, #f80759 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #bc4e9c 0%,#f80759 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #bc4e9c 0%,#f80759 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc4e9c', endColorstr='#f80759',GradientType=1 );
        margin-bottom: 15px;
        .price-button {
          display: block;
          text-align: center;
          padding: 10px 20px;
          text-decoration: none;
          color: #000;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 1px;
          background-color: #fff;
        } 
      }
    }
    .column-2 {
      display: flex;
      align-items: flex-end;
      padding-left: 50px;
      .game-render {
        height: 400px;
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .5));
      }
    }
  }
  .contacts-page {
    width: 800px;
    min-height: calc(~"100vh - 143px");
    padding: 24px;
    margin: 20px 0;
    background-color: #fff;
    .resources {
      display: flex;
      justify-content: space-around;
      span {
        font-size: 28px;
        i {
          margin-right: 10px;
        }
      }
    }
    .contact-screens {
      list-style-type: none;
      margin-top: 20px;
      li {
        display: block;
        &:first-child {
          width: 100%;
        }
        &:nth-child(2) {
          width: 49%;
          float: left;
          margin-top: 7px;
        }
        &:nth-child(3) {
          width: 49%;
          height: 230px;
          float: right;
          margin-top: 7px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 3px;
        }
      }
    }
  }
  .range {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #111;
    display: block;
    height: 75px;
    line-height: 75px;
  }
  #tab-container {
    width: 100%;
    padding: 0 12.5vw;
    .tabs {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      li {
        list-style-type: none;
        width: 100%;
        .active {
          color: #333;
          &::before {
            background-color: #333;
            width: 100%;
          }
          &:hover {
            color: #333;
            &::before {
              background-color: #333;
            }
          }
        } 
        a {
          color: #999;
          text-transform: uppercase;
          font-weight: 700;
          text-decoration: none;
          display: flex;
          justify-content: center;
          padding: 10px 0;
          position: relative;
          &::before {
            position: absolute;
            bottom: -2px;
            content: "";
            height: 4px;
            width: 33%;
            border-radius: 25px;
            background-color: #999;
            -webkit-transition: width .5s ease-in-out;
            -o-transition: width .5s ease-in-out;
            transition: width .5s ease-in-out;
          }
          &:hover {
            color: #666;
            border-color: #666;
            &::before {
              background-color: #666;
            }
          }
        }
      }
    }
    .table {
      width: 100%;
      margin-bottom: 25px;
      display: flex;
      flex-direction: column;
      .row {
        &.head {
          font-weight: 800;
          text-transform: uppercase;
        }
        padding: 10px;
        width: 100%;
        display: flex;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        &:nth-of-type(odd) {
          background-color: #e8e8e8;
        }
        &:nth-child(1) {
          border-top: 1px solid #ccc;
        }
        &:last-child {
          border-bottom: 1px solid #ccc;
        }
        .column {
          width: 50%;
        }
      }
    }
  }
}
#footer {
  width: 100%;
  height: 143px;
  padding: 10px 0;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .footer-menu {
    display: flex;
    list-style-type: none;
    li {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #fff;
        text-decoration: none;
        transition: color .1s ease-in-out;
        &:hover {
          color: #ddd;
        }
      }
    }
  }
  p {
    color: #747476;
    font-size: 12px;
    a {
      color: #747476;
      text-decoration: none;
    }
  }
  .logo-mini {
    cursor: pointer;
  }
}